/* 
Link to more than 6 projects.
Use SVG images for contact information icons.
*/

/* why can't I get   NAV LINKS TO : text-align: center; seems like bootstrap is overriding my css?*/
/* -- MAIN STYLES ------------------------------------------------- */
* {
  box-sizing: border-box;
}
body {
  position: relative;
}
main {
  margin: 3rem;
}

main section {
  margin: 0 0 6rem 0;
}

.about-container {
  height: 50vh;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
/* -- VARIABLES ------------------------------------------------- */
:root {
  --main-red: #a33100;
  --main-orange: #c5591b;
  --main-yellow: #f5af00;
  --sec-green: #76704c;
  --sec-dark: #3f4634;
  --body-col: #1f2d16;
  --tert-col: #474747;
  --col-light: #d5d8d5;
}
/* to use the variables write ->  var(--main-red) */

/* -- FONTS ------------------------------------------------- */
body {
  font-family: "Poppins", sans-serif;
  color: var(--body-col);
  margin: 0;
  text-align: center;
}

.index-header h1 {
  font-size: 6rem;
}
.index-header h1,
.index-header h2 {
  color: #1f2d16;
}
.index-header h2 {
  margin-top: 0;
  font-size: 3rem;
}
h1 {
  font-size: 4rem;
}
h1,
h2 {
  font-family: "Scheherazade New", serif;
  margin: 3.5rem 0;
}

h1,
h2,
h3 {
  margin-bottom: 3.5rem;
}

h4 {
  margin-bottom: 2rem;
}
.contact-text {
  text-align: center;
}

/* -- BACKGROUND GRADIENT ------------------------------------------------- */
.background {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: stretch;
  justify-content: space-evenly;
  z-index: -1;
  opacity: 0.2;
}

.background > div {
  flex-grow: 1;
}
.col-a {
  background-image: linear-gradient(var(--main-red), #ffffff);
}
.col-b {
  background-image: linear-gradient(var(--main-orange), #ffffff);
}
.col-c {
  background-image: linear-gradient(var(--main-yellow), #ffffff);
}

.col-d {
  background-image: linear-gradient(var(--sec-dark), #ffffff);
}

/* -- BACKGROUND CARD ------------------------------------------------- */

.back-card {
  background-color: white;
  padding: 2.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
}
/* -- NAV ------------------------------------------------- */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.nav-link {
  display: flex;
}
nav a {
  text-decoration: none;
  color: white;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  color: white;
}
#nav-logo {
  display: none;
}
#nav-home {
  background-color: var(--main-red);
}
#nav-about {
  background-color: var(--main-orange);
}
#nav-portfolio {
  background-color: var(--main-yellow);
}
#nav-contact {
  background-color: var(--sec-dark);
}
.active {
  text-decoration: underline;
  font-weight: 600;
}
/* -- HEADER ------------------------------------------------- */
.index-header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.scrolled {
  height: 25vh;
}
/* -- TYPEWRITING ADVERT ------------------------------------------------- */
.advert-container {
  display: none;
}

/* -- IMAGES ------------------------------------------------- */
.avatar {
  width: 10rem;
  border-radius: 50%;
  float: right;
  margin: 1rem;
}
svg {
  width: 100%;
}
/* -- VALUES ------------------------------------------------- */
.values-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#values {
  margin-top: 3rem;
}
.value-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  justify-content: flex-start;
}
.value {
  width: 10rem;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.creativity-svg {
  height: 142px;
}
.human-svg {
  height: 155px;
}
.empathy-svg {
  height: 145px;
}
/* -- PORTFOLIO ------------------------------------------------- */
.portfolio-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.portfolio-img {
  /* width: 25rem;
  margin: 0;
  border-radius: 1rem; */
  transition: all 5s ease-out;
  /* transform-origin: 50% 50%; */
}
.text-card > p {
  margin-bottom: 1rem;
}
.text-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card,
.text-card {
  margin: 1rem 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.2s ease;
  aspect-ratio: 16/9;
  width: 25rem;
}

.card:hover,
.text-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--body-col);
}

.card:hover .overlay {
  opacity: 0.7;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* image needs to zoom when parent card is hovered */
.card:hover > .portfolio-img {
  transform: scale(1.1);
}

/* -- ABOUT PAGE ------------------------------------------------- */
.about-container > p,
.contact-text > p {
  margin-bottom: 1.5rem;
}

/* -- CTA - Keen to Chat button ------------------------------------------------- */
#cta {
  display: block;
  width: 75%;
  height: 5rem;
  margin: 5rem auto;
  background-color: var(--main-orange);
  font-size: 25px;
}
#cta:active {
  border: none;
}
/* -- FOOTER ------------------------------------------------- */
footer {
  background-color: var(--sec-dark);
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.footer-links a {
  text-decoration: underline;
  color: white;
}
.footer-links,
#footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
}
#footer-icons {
  justify-content: center;
}
#footer-icons a {
  display: flex;
  flex-direction: row;
}
.socials-icon {
  height: 70px;
  width: 70px;
  padding: 0 10px;
}
.socials-icon:hover {
  fill: black;
  stroke: white;
}
#to-top-btn {
  text-align: right;
  text-decoration: underline;
}
/* -- TABLET ------------------------------------------------- */
@media (min-width: 768px) {
  .advert-container {
    display: block;
  }

  .background {
    opacity: 0.8;
  }

  .index-header h1 {
    font-size: 9rem;
    color: white;
    text-shadow: 0 0 3px #1f2d16;
  }
  .index-header h2 {
    color: white;
    text-shadow: 0 0 4px #1f2d16;
  }
  /* -- TABLET - NAV ------------------------------------------------- */
  nav {
    flex-direction: row;
  }
  nav a {
    width: 25%;
  }
  /* -- TABLET - ADVERT ------------------------------------------------- */
  .pre-advert {
    font-size: 20px;
    font-style: italic;
    display: flex;
    color: white;
    background-color: var(--main-red);
    margin: 0;
    padding: 1rem;
  }
  .pre-advert {
    border-radius: 0.5rem;
  }
  .advert {
    display: flex;
    color: white;
    background-color: var(--main-orange);
    padding: 1rem;
    font-size: 30px;
    border-radius: 0.5rem;
    margin-bottom: 6rem;
  }
  .advert > p {
    padding: 1rem;
  }
  .typing {
    position: relative;
    margin-left: 10px;
  }
  .typing:after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 75%;
    border-right: 3px solid white;
    animation: blink 0.7s infinite ease;
    margin: 0;
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* -- TABLET - VALUES ------------------------------------------------- */
  .values-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .value-svg {
    display: flex;
  }

  /* -- TABLET - PORTFOLIO ------------------------------------------------- */
  .portfolio-container {
    flex-direction: row;
    justify-content: center;
  }
  .portfolio {
    width: 350px;
    height: 300px;
    /* margin: 15px; */
  }

  .card {
    margin: 2.5rem;
  }

  /* -- TABLET - ABOUT PAGE ------------------------------------------------- */
  .about-container {
    max-width: 500px;
    margin: auto;
  }
  /* -- TABLET - CTA ------------------------------------------------- */

  #cta {
    font-size: 40px;
  }
  .btn-primary {
    border: none;
    background-color: none;
  }
}
/* -- TABLET - FOOTER ------------------------------------------------- */
.index-footer {
  background-color: white;
  color: var(--sec-dark);
}
.index-footer a {
  color: var(--sec-dark);
}
/* -- DESKTOP ------------------------------------------------- */
@media (min-width: 1024px) {
  body {
  }
  main,
  .footer-container {
    max-width: 1000px;
    margin: auto;
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  /* -- DESKTOP - PORTFOLIO ------------------------------------------------- */

  .portfolio {
    width: 29rem;
    height: 350px;
  }
}
