/* 
Link to more than 6 projects.
Use SVG images for contact information icons.


*/
/* -- MAIN STYLES ------------------------------------------------- */
* {
  box-sizing: border-box;
}

/* -- VARIABLES ------------------------------------------------- */
:root {
  --main-col-red: #a33100;
  --main-col-orange: #c5591b;
  --main-col-yellow: #f5af00;
  --sec-col-green: #76704c;
  --sec-col-dark: #3f4634;
  --body-col: #131b0d;
  --tert-col: #474747;
  --tert-col: light #d5d8d5;
}
/* to use the variables write ->  var(--main-col-red) */

/* -- FONTS ------------------------------------------------- */
body {
  color: var(--body-col);
}
/* -- TYPEWRITING ADVERT ------------------------------------------------- */
.advert {
  display: flex;
  color: var(--body-col);
  background-color: lavenderblush;
}
.typing {
  position: relative;
  margin-left: 10px;
}
.typing:after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 100%;
  border-right: 2px solid black;
  animation: blink 0.7s infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -- IMAGE STYLES ------------------------------------------------- */

/* -- GALLERY STYLING ------------------------------------------------- */

/* -- TABLET ------------------------------------------------- */
@media (min-width: 768px) {
}
/* -- DESKTOP ------------------------------------------------- */
@media (min-width: 1024px) {
}
